{{ log_dir }}/*.log {
	rotate 52
	daily
	missingok
	notifempty
	compress
	delaycompress
	create 0644 {{ create_owner }} {{ create_group }}
	postrotate
		/usr/lib/php5/php5-fpm-reopenlogs
	endscript
}
