
[{{ item.id }}]


{% if item.user is defined %}
user = {{ item.user }}
{% else %}
user = {{ php_fpm_user }}
{% endif %}
{% if item.group is defined %}
group = {{ item.group }}
{% else %}
group = {{ php_fpm_group }}
{% endif %}


listen = {{ php_socket_dir }}/{{ item.socket | default('pool.sock') }}

{% if item.listen_owner is defined %}
listen.owner = {{ item.listen_owner }}
{% else %}
listen.owner = {{ php_fpm_listen_owner }}
{% endif %}
{% if item.listen_group is defined %}
listen.group = {{ item.listen_group }}
{% else %}
listen.group = {{ php_fpm_listen_group }}
{% endif %}

 
pm = {{ item.pm | default('dynamic') }}
pm.max_children = {{ item.pm_max_children | default('5') }}
{% if item.pm is not defined or item.pm  == 'dynamic' %}
pm.start_servers = {{ item.pm_start_servers | default('2') }}
pm.min_spare_servers = {{ item.pm_min_spare_servers | default('1') }}
pm.max_spare_servers = {{ item.pm_max_spare_servers | default('3') }}
{% endif %}
{% if item.pm is defined and item.pm  == 'ondemand' %}
pm.process_idle_timeout = item.pm_process_idle_timeout
{% endif %}
{% if item.pm_max_requests is defined %}
pm.max_requests = item.pm_max_requests
{% endif %}


{% if item.log_dir is defined %}
access.log = {{ item.log_dir }}/{{ item.access_log | default('access.log') }}
{% endif %}


;chdir = /

php_admin_flag[display_errors] = off
php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_flag[allow_url_fopen] = off
{% if item.log_dir is defined %}
php_admin_flag[log_errors] = on
php_admin_value[error_log] = {{ item.log_dir }}/{{ item.error_log | default('error.log') }}
{% endif %}
